<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currently Reading</title>
</head>
<body>
    <h1>Hey {{session.user_name}}!</h1>
    <button class="button"><a href="/logout">Log Out</a></button>
    <h2>This is what you are currently reading:</h2>
        {% for book in get_current_book%}
        <h2>{{book.title}}</h2>
        {%endfor%}
    <h3>All done with this book? Give it a rating!</h3>
    <button class="button"><a href="/view_rating/{{session.user_id}}">Rate Me</a></button>
</body>
</html>