<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>All The Books</title>
</head>
<body style="background-image: url({{ url_for('static', filename='images/wall.jpeg') }});" >
    <div id="nav_container">
        <div id="nav_left"> 
            <h1 class="hey">Hey </h1>
            <h1 class="user_name"> {{session.user_name}}!</h1>
        </div>
        <div id="nav_right">
            <button class="button_nav"><a href="/logout">Log Out</a></button>
            <button class="button_nav"><a href="/dashboard">Main Page</a></button>
        </div>
    </div>  
    <h2>The ultimate book list!!</h2>
    <div class="finished_books_list">
        {% for book in books%}
            <div class="finished_book">
                <p class="title">TITLE:</p> <p>{{book.title}}</p>
                <p class="title">RATING:</p><p>{{book.rating}}</p> 
            </div>
        {%endfor%}
    </div>      
</body>
</html>