<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div id="box1">
                <div class="tbr">
                    <button class="button"><a href="/view_tbr/{{session.user_id}}">View TBR</a></button>
                    <form action="/create_book" method="POST">
                        <input type="text" name="title">
                        <button>Submit</button>
                    </form>
                </div>
            </div>
            <div id="box2">
                <div class="current">

                </div>
            </div>
            <div id="box3">
                <div class="finished">

                </div>

            </div>
        </div>

    </div>
</body>
</html>