<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Welcome</title>
</head>
<body>
    <div id="nav_container">
        <div id="nav_left"> 
            <h1 class="hey">Hey </h1>
            <h1 class="user_name"> {{session.user_name}}!</h1>
        </div>
        <div id="nav_right">
            <button class="button_nav"><a href="/logout">Log Out</a></button>
        </div>
    </div>  
    <div class="container"> 
        <div class="card">
            <div id="box1">
                <div class="tbr">
                    <h3>Would you like to view your to be read books?</h3>
                    <img id="current_img" src="{{ url_for('static', filename='images/book.png') }}">
                    <button class="button"><a href="/view_tbr/{{session.user_id}}">View TBR</a></button>
                    <h4>Maybe you would like to add a new book to the list?</h4>
                    <form action="/create_book" method="post">
                        <label for="title">Title:</label>
                        <input type="text" name="title">
                        <input type="submit" value="Submit" class="button">
                    </form>
                </div>
            </div>
            <div id="box2">
                <div class="current">
                    <h3>Would you like to access the book you are currently reading? Click here!</h3>
                    <img id="current_img" src="{{ url_for('static', filename='images/book.png') }}">
                    <button class="button"><a href="/view_current/{{session.user_id}}">Current</a></button>
                </div>
            </div>
            <div id="box3">
                <div class="finished">
                    <h3>You're a super star reader! Take a look at all you've read so far!</h3>
                    <img id="current_img" src="{{ url_for('static', filename='images/book.png') }}">
                    <button class="button"><a href="/view_finished/{{session.user_id}}">Finished</a></button>

                </div>

            </div>
        </div>
       

    </div>
</body>
</html>