<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>TBR</title>
</head>
<body>
    <div id="nav_container">
        <div id="nav_left"> 
            <h1 class="hey">Welcome to TBR </h1>
            <h1 class="user_name"> {{session.user_name}}!</h1>
        </div>
        <div id="nav_right">
            <button class="button_nav"><a href="/logout">Log Out</a></button>
            <button class="button_nav"><a href="/dashboard">Main Page</a></button>
        </div>
    </div>
    <!-- this for loop uses the get_all_tbr_books classmethod. Thanks to the query in the classmethod we only have books that are tbr -->
    <h2>Look at all of these books! Better get to reading! Choose a book to start reading!</h2>
    {% for book in books%}
        <h3>{{book.title}}</h3>
        <form action="/move_current/{{book.id}}" method="post">
            <input type="submit" value="I'm now reading this book." class="button">
        </form>
        <button class="button"><a href="/delete_tbr/{{book.id}}">Remove from TBR.</a></button>
    {%endfor%}
</body>
</html>